@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--surface-border-light: #2a2a2a;
	--text-color-light: #666;
	--text-color-strong: #fff;
	--background-color: #181818;
	--primary-color: rgb(255, 62, 0);
	--secondary-color: pink;
	--error-color: rgb(255, 92, 92);
}

body {
	background: var(--background-color);
	color: var(--text-color-strong);
	font-family: Circular Std, -apple-system, Roboto, sans-serif;
}

* {
	border-color: var(--surface-border-light);
	letter-spacing: 0.025em;
}

h1 {
	@apply text-4xl font-bold;
}
h2 {
	@apply text-3xl font-bold;
}
h3 {
	@apply text-2xl font-bold;
}
