@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--surface-border-light: #2a2a2a;
	--text-color-light: #666;
	--text-color-strong: rgba(250, 250, 250, 0.95);
	--background-color: #181818;
	--surface-background-color: rgba(31, 31, 31);
	--primary-color: rgb(255, 62, 0);
	--secondary-color: rgba(0, 62, 255, 1);
	--accent-color: rgba(255, 0, 180, 1);
	--error-color: rgb(255, 92, 92);
	--success-color: rgb(30, 215, 100);
	--warning-color: rgb(255, 255, 92);
	--info-color: rgb(255, 255, 200);
}

body {
	background: var(--background-color);
	color: var(--text-color-strong);
	font-family: Circular Std, -apple-system, Roboto, sans-serif;
}

* {
	border-color: var(--surface-border-light);
	letter-spacing: 0.025em;
}

h1 {
	@apply text-4xl font-bold;
}
h2 {
	@apply text-3xl font-bold;
}
h3 {
	@apply text-2xl font-bold;
}

.selectTheme {
	--border: 1px solid var(--surface-border-light);
	--borderRadius: 10px;
	--placeholderColor: var(--text-color-strong);
	--background: var(--background-color);
	--listBackground: var(--background-color);
	--listZIndex: 9000;
	--groupTitleColor: var(--color-primary);
	--inputColor: var(--text-color-strong);
	--itemIsActiveBG: var(--primary-color);
	--itemColor: var(--text-color-strong);
	--itemIsActiveColor: var(--text-color-strong);
	--borderFocusColor: var(--primary-color);
	--borderHoverColor: var(--text-color-light);
	--itemHoverColor: var(--background-color);
	--itemHoverBG: var(--text-color-strong);
	--multiItemBG: var(--secondary-color);
}
