/* @tailwind base; */
.pointer-events-none {
    pointer-events: none
}
.visible {
    visibility: visible
}
.static {
    position: static
}
.fixed {
    position: fixed
}
.relative {
    position: relative
}
.z-50 {
    z-index: 50
}
.col-span-2 {
    grid-column: span 2 / span 2
}
.col-span-4 {
    grid-column: span 4 / span 4
}
.col-span-6 {
    grid-column: span 6 / span 6
}
.mb-12 {
    margin-bottom: 3rem
}
.mb-2 {
    margin-bottom: 0.5rem
}
.-mt-2 {
    margin-top: -0.5rem
}
.mb-4 {
    margin-bottom: 1rem
}
.mb-10 {
    margin-bottom: 2.5rem
}
.block {
    display: block
}
.flex {
    display: flex
}
.grid {
    display: grid
}
.hidden {
    display: none
}
.h-full {
    height: 100%
}
.w-full {
    width: 100%
}
.flex-grow {
    flex-grow: 1
}
.flex-col {
    flex-direction: column
}
.justify-between {
    justify-content: space-between
}
.gap-10 {
    gap: 2.5rem
}
.gap-2 {
    gap: 0.5rem
}
.overflow-visible {
    overflow: visible
}
.border {
    border-width: 1px
}
.p-4 {
    padding: 1rem
}
.pb-10 {
    padding-bottom: 2.5rem
}
.text-right {
    text-align: right
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}
.font-bold {
    font-weight: 700
}
.italic {
    font-style: italic
}
.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgba(55, 65, 81, var(--tw-text-opacity))
}
.opacity-100 {
    opacity: 1
}
.opacity-0 {
    opacity: 0
}
.blur {
    --tw-blur: blur(8px);
    filter: var(--tw-filter)
}
.filter {
    filter: var(--tw-filter)
}
.backdrop-filter {
    -webkit-backdrop-filter: var(--tw-backdrop-filter);
            backdrop-filter: var(--tw-backdrop-filter)
}
.transition {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}
@media (min-width: 1024px) {
    .lg\:flex-row {
        flex-direction: row
    }
}
