/* @tailwind base; */
.container {
    width: 100%
}
@media (min-width: 640px) {
    .container {
        max-width: 640px
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px
    }
}
.static {
    position: static
}
.fixed {
    position: fixed
}
.mb-12 {
    margin-bottom: 3rem
}
.mb-2 {
    margin-bottom: 0.5rem
}
.flex {
    display: flex
}
.w-full {
    width: 100%
}
.flex-grow {
    flex-grow: 1
}
.flex-col {
    flex-direction: column
}
.overflow-visible {
    overflow: visible
}
.border {
    border-width: 1px
}
.blur {
    --tw-blur: blur(8px);
    filter: var(--tw-filter)
}
.filter {
    filter: var(--tw-filter)
}
.backdrop-filter {
    -webkit-backdrop-filter: var(--tw-backdrop-filter);
            backdrop-filter: var(--tw-backdrop-filter)
}
.transition {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}
@media (min-width: 1024px) {
    .lg\:flex-row {
        flex-direction: row
    }
}
