@import '@fontsource/fira-mono';

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
		sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--content-bg-color: #ffffff;
	--background-color: #eef3f8;
	--primary: #ee5740;
	--primary-light: #f0ae94;
	--primary-lighter: #fdf6ed;
	--correct: #69bdb8;
	--warning: #fde181;
	--error: #f98381;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--background-color);
	overflow: hidden;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
