{
    "apiKey": "AIzaS...",
    "authDomain": "dummy.firebaseapp.com",
    "databaseURL": "https://dummy.firebaseio.com",
    "projectId": "dummy-bef72",
    "storageBucket": "dummy-bef72.appspot.com",
    "messagingSenderId": "3071...",
    "appId": "1:3071...:web:02e0..",
    "measurementId": "G-GTM..."
}